/* === How I want it to look  === */
@use '@/app/(atoms)' as *;

/* === What I want  === */
.menu-toggle {
  /* === How I want it to look  === */

  width: var(--icon-size);
  height: var(--icon-size);

  &:hover {
    width: calc(var(--icon-size) - .6ch);
    height: calc(var(--icon-size) - .6ch);
    transition: all 200ms ease-in-out;
  }

  cursor: pointer;
  overflow: hidden;
  border-radius: 0.3ch;

  .toggle {
    width: 100%;
    height: 100%;
    position: relative;

    .🥢 {
      width: 100%;
      height: 100%;
      background-color: var(--👓);

      &:nth-of-type(2) {
        background-color: var(--☀️);
      }
    }
  }
}
