#◀️ {
  cursor: pointer;
  // position: absolute;
}

#back-button {
  grid-area: back;

  // position: absolute;
  cursor: pointer;
  width: calc(var(--icon-size) + 1ch);
  height: var(--icon-size);
  // margin-top: 90dvh;
  // margin-left: 2.5ch;

  &:hover {
    transition: all 200ms ease-in-out;
    width: calc(var(--icon-size) + 0.5ch);
    height: calc(var(--icon-size) + 0.5ch);
  }
  path {
    fill: var(--👓);
    &.when-its-dark-outside {
      fill: var(--☀️);
    }
  }
}

.back-button-text {
  // margin-top: 89dvh;
  // margin-left: 2.5ch;
  line-height: 1.5ch;
  transition: 500ms ease-in-out;
}

.back-button-text-extended {
  // width: fit-content;
  line-height: 1.5ch;
  position: absolute;
  transform: rotate(-90deg); /* Rotates text 90 degrees clockwise */
  transform-origin: left; /* Changes the pivot point to the top-left corner */
  margin-top: -25dvh;
  margin-left: -1.1ch;

  font-size: 2.4ch;

  @media screen and (max-width: 768px) {
    margin-left: 1.1ch;
    width: 30ch;
  }

  sup {
    font-size: 1.1ch;
  }
}

#current-page {
  // color: var(--☀️);
  transition: 500ms ease-in-out;
}


#current-page-while-menu-is-open {
  color: var(--☀️);
  transition: 500ms ease-in-out;
}
