/* === How I want it to look  === */
@forward './content/';

menu {
  /* === How I want it to look  === */

  // color
  background-color: var(--😎);
  -webkit-backdrop-filter: blur(0.7ch); /* Adjust blur intensity as needed */
  backdrop-filter: blur(0.9ch);

  // position
  position: fixed;
  width: 100vw;
  display: grid;
  place-items: center;
  grid-template-areas:
    'menu-header'
    'menu-content'
    'menu-footer';

  grid-template-rows: 1fr 8fr 1fr;

  .menu-header {
    grid-area: menu-header;
    // justify-content: center;
    top: -2dvh;
    left: 6dvw;
    @media screen and (min-width: 768px) {
      left: 88dvw;
      top: -1dvh;
      line-height: normal;
    }
    font-family: var(--inglobal-regular);
    font-size: var(--h5);
    color: var(--☀️);
  }

  .menu-content {
    grid-area: menu-content;
  }

  .menu-footer {
    margin-inline: 1ch;
    grid-area: menu-footer;
    display: grid;
    justify-content: space-between;

    grid-template-areas: 'theme-toggle socials-toggle account';

    .theme-toggle {
      grid-area: theme-toggle;
      position: fixed;
      left: 2.5ch;
    }

    #menu-socials-toggle {
      // margin-inline-start: 49%;
      margin-top: 7dvh;
      grid-area: socials-toggle;
      position: absolute;
    }
  }
}
